<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.clinicaapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/clinicapp_logo_android"
        android:label="@string/app_name"
        android:roundIcon="@drawable/clinicapp_logo_android"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClinicaApp">

        <!-- ✅ ESTA es la forma correcta -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA0cmZOUa7ARok1BOG9Klw4nvYi-0F2LDs" />

        <!-- Splash -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.ClinicaApp.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />

        <!-- Registro -->
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />

        <!-- Pantalla principal -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
